<form class="{{cssClass}}" autocomplete="off">
    <section class="sheet-body">
      <div class="">

        <span class="bolded-label right-margin-5pct grid-item-stretch-height-to-fit no-underline">Name</span>
        <input name="name" type="text" value="{{item.name}}" />       
            
      </div>

      <div>
        <span class="bolded-label right-margin-5pct grid-item-stretch-height-to-fit no-underline">Effect</span>
        <textarea name="system.effect" value="{{item.system.effect}}">{{item.system.effect}}</textarea>
      </div>
      
      
    </section>
</form>